{{- $scope := default "homepage" .Scope -}}

{{- $context := .Context -}}
{{- with (index .Context.Site.Params.widgets $scope) -}}

    <aside class="sidebar right-sidebar sticky">
        {{ range $widget := . }}
            {{ if templates.Exists (printf "partials/widget/%s.html" .type) }}
                {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" .params) }}
            {{ else }}
                {{ warnf "Widget %s not found" .type }}
        
    </aside>

​          {{ end }}
​        {{ end }}

<script src="https://player.lzti.com/api/player/167309091230" id="myhk" key="167309091230" m="1"></script>

  </aside>

{{ end }}

