{{- $scope := default "homepage" .Scope -}}

{{- $context := .Context -}}
{{- with (index .Context.Site.Params.widgets $scope) -}}

    <aside class="sidebar right-sidebar sticky">
        {{ range $widget := . }}
            {{ if templates.Exists (printf "partials/widget/%s.html" .type) }}
                {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" .params) }}
            {{ else }}
                {{ warnf "Widget %s not found" .type }}
        
    </aside>

​          {{ end }}
​        {{ end }}

<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=386 height=86 src="//music.163.com/outchain/player?type=2&id=1392600538&auto=1&height=66"></iframe>

  </aside>

{{ end }}

